.list {
    padding-inline-start: 0;
}

.list__text {
    align-self: start;
    font-style: normal;
    font-weight: 700;
    margin: 10px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
}