.login__form_wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header__text {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Patrick Hand', cursive;
}

.header__desc {
    color: #646464;
    font-size: 20px;
}

.login__form {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn__login {
    text-transform: uppercase;
    width: 100%;
    font-size: 15px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #fc6b68;
    color: white;
}

.register {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 900;
    color: #251f1f;
}

.recovery {
    align-self: end;
    color: #817878;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 12px;
}