.login__wrapper {
    width: 90%;
    margin: 0 auto;
}
.image {
    width: 45%;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(64, 191, 255, 0.24);
}

.login__form_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login__welcome {
    color: #223263;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.login__desc {
    color: #9098B1;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.login__form {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login__input {
    margin-bottom: 10px;
}

.error__text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    align-self: flex-start;
    letter-spacing: 0.5px;
    color: #FB7181;
    padding-left: 2px;
    margin-bottom: 10px;
}

.login__helper {
    margin-bottom: 15px;
}

.btn__login {
    margin-top: 5px;
}

.register {
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    text-align: center;
    letter-spacing: 0.5px;
    color: #40BFFF;
}

.login__cross {
    width: 100%;
    display: flex;
    align-items: center;
}

.cross__text {
    text-transform: uppercase;
    color: #9098B1;
    padding: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.005em;
}

.hr {
    width: 100%;
    height: 2px;
    background-color: #EBF0FF;
}