.button__select {
    border: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
    color: white;
}

.button__select_active {
    border: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    margin: 15px;
    color: white;
    background-color: #fc6b68;
}

.select__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.report__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button__submit {
    text-transform: uppercase;
    width: 100%;
    font-size: 15px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #fc6b68;
    color: white;
}