.login__form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    border-radius: 20px;
    margin: 50px auto 0;
    padding: 40px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
}

.header__text {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Patrick Hand', cursive;
}

.header__desc {
    color: #646464;
    font-size: 20px;
}

.login__form {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input {
    font-size: 15px;
    margin: 10px;
    padding: 15px;
    width: 100%;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
}

.input:focus {
    outline: none;
}

.btn__login {
    text-transform: uppercase;
    width: 100%;
    font-size: 15px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #fe805d;
    color: white;
}

.register {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 900;
    color: #251f1f;
}